.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 100px;
    margin: 0px 30px;
    margin-bottom: 60px;
    text-align: center;
  }
  .grid-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 30px;
    text-align: center;
  }
.title{
    font-family: CerebriSans-Bold, -apple-system, system-ui, Roboto, sans-serif;
    font-weight: normal;
}

.pokemon-name {
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top: 1px lightgrey solid;
}

.load-more {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: grey;
  height: 48px;
}

.load-more:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.load-more:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.load-more:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}